@(users: List[User])

@css = {
}

@javascript = {
	@map_js(null)(false)(false)
}

@main(Messages("users"))("dashboard")(false)(true)(javascript)(css) {
    
    <div class="row-fluid">
	    <table class="table span3">
	    	<thead>
	    		<th>Total Users</th>
	    		<th>@users.size</th>
	    	</thead>
	    	<thead>
	    		<th>Remove</th>
	    		<th>Id</th>
	    	</thead>
	    	<tbody>
			    @for(user <- users) {
			    <tr>
			    	<td><a href="@routes.AdminController.deleteUser(user.getId())"><i class="icon-trash"></i></a></td>
			        <td><a onclick="$.map.updateMyId('@user.getId()')">@user.getId()</a></td>
			    </tr>
			    }
	    	</tbody>
	    </table>
	    <div class="span9" style="position:relative">
	    	@map_canvas(null)(false)
	    </div>
    </div>
	    
}
    


