@(category: String)

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="@routes.Application.index()">@Messages("title")</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li@if(category.equals("map")){ class="active"}><a href="@routes.Application.map()">@Messages("drawing")</a></li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown" id="menu1">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
                @Messages("mobile_apps")
              <b class="caret"></b>
            </a>
            <div class="dropdown-menu">
               <a href="https://itunes.apple.com/fr/app/id568869421">iPhone</a>
               <a href="@routes.Assets.at("deambulations.apk")">Android</a>
            </div>
          </li>
          <li@if(category.equals("about")){ class="active"}><a href="@routes.Application.about()">@Messages("about")</a></li>
          @if(Secured.isLogged(ctx())) {
            <li><a href="@routes.AdminController.logout()">@Messages("login.logout")</a></li>
          }
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>