@(category: String)

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="@routes.Application.index()">@Messages("title")</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li@if(category.equals("map")){ class="active"}><a href="@routes.Application.fullScreenMap()">@Messages("drawing")</a></li>
        </ul>
        <ul class="nav pull-right">
          <li@if(category.equals("about")){ class="active"}><a href="@routes.Application.about()">@Messages("about")</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>