<!DOCTYPE html>

<html>
    <head>
    	<meta name="kaazing:postMessageBridgeURL" content="PostMessageBridge.html">
   		<script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/kaazing/StompJms.js")" type="text/javascript"></script>
		<script src="@routes.Assets.at("javascripts/kaazing/kaazing.js")" type="text/javascript"></script>
		<script type="text/javascript">
		$(document).ready(function() {
			
				function onMessage(message) {
			    	
			    	var body = message.getText();
			    	
			    	$("#body").append(body + '<br>')
			      	console.log(message)
			    }
			
				setupKaazing("ws://ec2-46-137-8-173.eu-west-1.compute.amazonaws.com:8001/jms", onMessage);
			}
		);
		</script>
    </head>
    <body>
    	<h2>Waiting for locations...</h2>
		<div id="body">
		</div>

    </body>
</html>
