
@css = {
}

@javascript = {
	<script src="http://openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/data.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/sketchy.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/sketchytrack.js")" type="text/javascript"></script>

	<script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
	<script type="text/javascript">
		$(
			$.map.init(stubs)
		);
	</script>
}


@main(Messages("title"))(javascript)(css) {

	<div  id="map" data-bg="@routes.Assets.at("images/white.png")">

	<a href="#" onclick="$.map.moveToCenter();">center map</a>

	</div>
}