@(userId:String)(hideControls:Boolean)


@css = {
}

@javascript = {

	<script src="http://openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
	
	<script src="@routes.Assets.at("javascripts/constant.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/sketchy.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/sketchytrack.js")" type="text/javascript"></script>

	<script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/kaazing/StompJms.js")" type="text/javascript"></script>
	<script src="@routes.Assets.at("javascripts/kaazing/kaazing.js")" type="text/javascript"></script>
	
	<script type="text/javascript">
	$(document).ready(function() {
			$.map.init(@hideControls);

		    var firstPoint = true;
			
			function onMessage(message) {
		    	
		    	var location = JSON.parse(message.getText());

		    	@if(userId != null) {
		    	var me = (location.user.id == "@userId");
		    	} else {
		    	var me = false;
		    	}
		    	
		    	console.log(location.user.id);
		      	$.map.addPointToTrack(
		      			location.user.id,
		      			{
		      				"lat":location.lat,
		      				"lon":location.lon
		      			},
		      			location.start,
		      			{
		      					redraw: true,	// redraw the layer
		      					center: false,	// call showAllTracks
		      					isMe: me
		      			});
		    	//console.log("draw point end");

		      	if (firstPoint) {
		      		$.map.showAllTracks();
		      		firstPoint = false;
		      	}
		    }
			
			function onQueueMessage(message) {
		    	
		    	var location = JSON.parse(message.getText());

		    }
		
			var userId = "@userId"
			setupKaazing("ws://ec2-46-137-8-173.eu-west-1.compute.amazonaws.com:8001/jms", onMessage, onQueueMessage ,userId);
			
			// load the initial points
			$.ajax(
				{
                    url: "/location/area", // TODO NDE: use a jsroute
                    method: 'get',
                    data: {
                    	minLat: 42.0,   // TODO NDE: find a good center
                    	maxLat: 44.0,
                    	minLon: 0.0,
                    	maxLon: 1.6
                    },
                    success : function(data) {
                    	$.each(data, function(index, location){
                    		$.map.addPointToTrack(
            		      			location.user.id,
            		      			{
            		      				"lat":location.lat,
            		      				"lon":location.lon
            		      			},
            		      			location.start,
            		      			{
            		      					redraw: false,	// redraw the layer
            		      					center: false,	// call showAllTracks
            		      					isMe: false
            		      			});
                    	});
                    	$.map.showAllTracks();
                    }
                    
                });
			
		}
	);
	</script>
}


@defining(userId != null) { hideHeader =>
	@main(title=Messages("title"))(category="map")(hideHeader)(javascript)(css) {

		<div  id="map" data-bg="@routes.Assets.at("images/white.png")" @if(hideHeader){ class="no-header"}>
	<!-- 
			<a href="#" onclick="$.map.showAllTracks();">center map</a>
			<a href="#" onclick="$.map.addTrack(1,stubs[1],{redraw:true,center:true});">add track</a>
			<a href="#" onclick="$.map.addPointsToTrack(0,stubs[3],{redraw:true,center:true});">add points to track</a> -->
		</div>
		
	}
}