@(userId:String)(hideControls:Boolean)(driveMode: Boolean)

<script src="http://openlayers.org/api/OpenLayers.js" type="text/javascript"></script>
	
<script src="@routes.Assets.at("javascripts/constant.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/sketchy.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/sketchytrack.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/kaazing/StompJms.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/kaazing/kaazing.js")" type="text/javascript"></script>

<script type="text/javascript">

function startLoading() {
	$("#circleG").show();
}

function stopLoading() {
	$("#circleG").hide();
}

$(document).ready(function() {
		$.map.init(@hideControls,"@userId",@driveMode);
		
		function onMessage(message) {
	    	
	    	var location = JSON.parse(message.getText());

	    	@if(userId != null) {
	    	var me = (location.user.id == "@userId");
	    	} else {
	    	var me = false;
	    	}
	    	
	    	//console.log(location.user.id);
	      	$.map.addPointToTrack(
	      			location.user.id,
	      			{
	      				"lat":location.lat,
	      				"lon":location.lon
	      			},
	      			location.start,
	      			{
	      					redraw: true,	// redraw the layer
	      					center: false,	// call showAllTracks
	      					isMe: me
	      			});
	      	
	    	if (me && location.start) {
	    		$.map.showTrack(location.user.id);
	    	}
	    	//console.log("draw point end");
	    }
		
		function onQueueMessage(message) {

	    	var location = JSON.parse(message.getText());
			
	    	var zoom = 10;

	    	// non mobile targets
	    	if ($.map.myId == "") {
	    		zoom = location.zoom;
	    	} 

	    	$.map.setCenter(location,zoom);
	    	
	    	console.log("center on : " + location)
	    }
	
		var userId = "@userId"
		
		setupKaazing("ws://ec2-46-137-8-173.eu-west-1.compute.amazonaws.com:8001/jms", onMessage, onQueueMessage ,userId);
		
// 			if (userId != null){
// 				setupKaazingQueue("ws://ec2-46-137-8-173.eu-west-1.compute.amazonaws.com:8001/jms", onQueueMessage ,userId);
// 			}
		
		// load the initial points
		$.map.setBoundsToReference();
		
	}
);
</script>